
ul.submenu, ul.submenu ul {
  list-style-type:none;
  margin: 0;
  padding: 0 2px;
  width:246px;
  font-family:Tahoma, Helvetica, sans-serif;
  font-size:14px; direction:rtl
}

ul.submenu a {
  display: block;
  text-decoration: none;	
}

ul.submenu li {
  margin-top: 1px;
}

ul.submenu li a {
    background: url("../img/plus.png") no-repeat scroll 10px  9px #fff;
    border-bottom: 1px solid #CCCCCC;
    color: #000;
    padding: 7px 30px 7px 7px;
}
ul.submenu li a:hover {
    background: url("../img/plus.png") no-repeat scroll 10px  9px #F9F9F9;
    color: #A50A3A;
    padding: 7px 30px 7px 7px;
}

ul.submenu li ul li a {
  background: url("../img/bullet3.gif") no-repeat scroll 205px 15px #FFFFFF;
    border-bottom: 1px dashed #CCCCCC;
    color: #000000;
    direction: rtl;
    padding: 5px 45px 5px 5px;
    width: 191px;
}
ul.submenu li ul li a:hover {
    background: url("../img/bullet3.gif") no-repeat scroll 195px 15px #F9F9F9;
    padding: 5px 55px 5px 5px;
	width:181px;
}
.active-sub {
    background: url("../img/plus.png") no-repeat scroll 10px  9px #edecec !important;
    color: #A50A3A !important;
    padding: 7px 30px 7px 7px !important;
}
.active-sub-sub {
    background: url("../img/bullet3.gif") no-repeat scroll 195px 15px #F9F9F9 !important;
    padding: 5px 55px 5px 5px !important;
	width:181px !important;
    color: #A50A3A !important;
}

ul.submenu li ul li ul li a {
  background: #b4b4b4;
  color: #000;
  padding-right: 30px;
}

ul.submenu li ul li ul li a:hover {
  background: #df9999;
  border-left: 5px #000 solid;
  padding-left: 25px;
}

.code { border: 1px solid #ccc; list-style-type: decimal-leading-zero; padding: 5px; margin: 0; }
.code code { display: block; padding: 3px; margin-bottom: 0; }
.code li { background: #ddd; border: 1px solid #ccc; margin: 0 0 2px 2.2em; }
.indent1 { padding-left: 1em; }
.indent2 { padding-left: 2em; }
.indent3 { padding-left: 3em; }
.indent4 { padding-left: 4em; }
.indent5 { padding-left: 5em; }