php_value upload_max_filesize 50m
php_value post_max_size 50m
php_value max_execution_time 800

<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf)$">
Header set Cache-Control "max-age=290304000, public"
</FilesMatch>

# compress text, html, javascript, css, xml:
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript
# Or, compress certain file types by extension:
<Files *.htm>
SetOutputFilter DEFLATE
</Files>

order allow,deny
deny from 203.123.139.230
deny from 59.163.40.2
deny from 220.227.63.98
deny from 220.224.19.132
deny from 123.252.133.186
allow from all
IndexIgnore *

# Options All -Indexes -MultiViews
# Externally redirect all http or httpS direct client requests
# for index.htm or index.htm pages to http home page "/"
RewriteEngine On
RewriteCond %{http_host} ^enago.ae
RewriteRule ^(.*) http://www.enago.ae/$1 [R=301,L]

RewriteCond %{THE_REQUEST} /index\.htm [NC]
RewriteRule ^(.*/)?index\.htm$ /$1 [R=301,L]

RewriteCond %{THE_REQUEST} /index\.htm [NC]
RewriteRule ^(.*/)?index\.htm$ /$1 [R=301,L]
RewriteRule ^(.*/)?index\.html$ /$1 [R=301,L]

ErrorDocument 404 http://www.enago.ae
AddType application/x-httpd-php .php .htm .html